@import '../../styles/common';

.page-article {
  .main-content {
    max-width: $main_content_width;
    margin: 46px auto;
    font-size: 14px;

    .article-header {
      margin-bottom: 3em;

      .article-title {
        font-size: 24px;
        text-align: center;
      }

      .article-updatetime {
        text-align: right;
        margin-top: 1em;
        text-decoration: underline;
      }
    }

    .article-content {
      p > code {
        background-color: #f5f5f5;
        color: #b15502;
      }


      img {
        max-width: 100% !important;
      }
    }
  }

  @media screen and (max-width: 700px) {
    padding: 0 5%;
  }
}
