@import '../../styles/common';

.page-articles {
  .articles-list-wrapper {
    position: relative;
    font-size: 16px;
    max-width: $main_content_width;
    margin: 0 auto;
    margin-top: toPercent(130px);

    .bar {
      width: 2px;
      height: 100%;
      position: absolute;
      background-color: #d8ac0b;
      left: 9.5em;
      box-shadow: 3px 2px 0px 0px #0960ff;
    }
  }

  a {
    text-decoration: none;
  }

  .time,
  .name {
    display: inline-block;
    color: #000;
  }

  .time {
    text-align: right;
    min-width: 9em;
  }
  .name {
    padding-left: toPercent(80px);
    text-align: left;
  }

  .row {
    display: block;
    margin-bottom: toPercent(20px);

    &:hover {
      .time,
      .name {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 700px) {
    padding: 0 5%;

    .articles-list-wrapper {
      width: auto;

      .bar {
        display: none;
      }
    }

    .row {
      display: flex;
      margin-bottom: 2em;
      flex-direction: column;

      .name {
        padding-left: 0;
      }
      .time {
        text-align: left;
        background-color: #000000;
        color: #afafaf;
        width: fit-content;
        padding: 0 3px;
        border-radius: 2px;
      }

      .time {
        margin-right: 1em;
        order: 1;
        font-size: 12px;
      }
    }
  }
}
